body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1F2937;
  color: #F9FAF8;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-weight: 900;
  font-size: 48px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.links {
  font-size: 18px;
}

.content {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.footer {
  padding: 10px;
  text-align: center;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-weight: 600;
}